<nav class="navbar navbar-expand-lg bg-dark fixed-top "data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h2>Inserted Datas</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-middle">
              <form action="/pdf/admin" method="post">
                <button class="btn btn-light" style="margin-right: 25px;" type="submit" >Admin Data</button>                   
            </form>
        </ul>
        <input type="text"id="filterDate" class="inptDate" placeholder="eg: DD/MM/YYYY">
<button onclick="filterByDate()" class="btn btn-light">Filter by Date</button>

      </div>
    </div>
  </nav>



<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Numbers</th>
        <th>Date</th>
        <th>PDF</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
      <tr class="userRows">
        <td style="font-weight: 600; padding-right: 10px;" class="userName"><%= user.name %></td>
        <td style="padding-right: 25px;" class="userNumber"><%= user.number %></td>
        <td style="padding-right: 15px;" class="userDate">
            <% if(user.date){ %>
                <%= user.date.toLocaleDateString()%>
            <% } else { %>
                N/A
            <% } %>
        </td>

        <td><a class="btn btn-dark" href="/print/<%= user.name %>/<%= user.number %>" download>Print</a></td>

      </tr>
      <% }); %>
    </tbody>
  </table>
  
<script>

function filterByDate() {
  var inputDate = new Date(document.getElementById("filterDate").value);
  var userRows = document.getElementsByClassName("userRows");
  for (var i = 0; i < userRows.length; i++) {
    var userDate = new Date(userRows[i].getElementsByClassName("userDate")[0].innerHTML);
    if (userDate.toString() === inputDate.toString()) {
      userRows[i].style.display = "";
    } else {
      userRows[i].style.display = "none";
    }
  }
}
</script>
  
  